body {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  width: 100%;
  height: 100vh;
  background: #F2F2F2;
}

a {
  text-decoration: none;
  color: #767676;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: transparent;
}

input {
  padding-left: 10px;
}

/* index.html  */


.login-wrapper {
  width: 500px;
  text-align: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
}

.weniv-logo {
  width: 138px;
  height: 40px;
  margin-bottom: 28px;
}

.login-wrapper p {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 32px;
}

.login-wrapper .login-button {
  display: inline-block;
  width: 440px;
  background: #2F80ED;
  color: #fff;
  border-radius: 5px;
  padding: 17px 0;

}


/* modal */
.modal-wrapper {
  width: 520px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin: 50px auto;
}

.modal-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0px 18px;
}

.modal-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0 auto;
}

.modal-header a {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-header img {
  width: 16px;
  height: 16px;
}

.form-wrapper {
  padding: 26px 24px;
}

.form-wrapper h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 24px;
}

.user-input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
}

.user-input.id {
  margin-bottom: 10px;
}

.user-input::placeholder {
  display: block;
  font-size: 16px;
  color: #767676;
  padding: 15px 16px;
}


.login-check {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.login-check .check-empty {
  display: block;
  width: 22px;
  height: 22px;
}

.login-check p {
  font-size: 16px;
  line-height: 1.25;
  color: #767676;
  margin-left: 8px;
}

.login-btn {
  margin: 20px 0;
  width: 100%;
  background: #2F80ED;
  color: #ffffff;
  border-radius: 5px;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 700;
}

.find-link {
  width: 205px;
  font-size: 14px;
  line-height: 1.28;
  margin: 0 auto;

}

.find-link .link-join {
  float: left;
}

.find-link .link-join::after {
  float: right;
  display: block;
  content: '';
  width: 1px;
  height: 14px;
  margin: 1px 12px;
  background-color: #767676;
}

.find-link:after {
  content: '';
  display: block;
  clear: both;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px;
  font-size: 14px;
  color: #767676;
}

.line::before {
  content: "";
  flex-grow: 1;
  margin: 0 13px;
  background-color: #D9D9D9;
  height: 1px;
}

.line::after {
  content: "";
  flex-grow: 1;
  margin: 0 13px;
  background-color: #D9D9D9;
  height: 1px;
}

.site-link {
  display: block;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 11px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.site-link img {
  padding: 2px;
}

.site-link p {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.25;
}

.img-fb {
  margin-left: 4px;
}

.site-link.ico-fb {
  border: 1px solid #2D9CDB;
}

.site-link.ico-na {
  border: 1px solid #00BF18;
}

.site-link.ico-ka {
  border: 1px solid #F2C94C;
}